@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {

  .rounded-icons {
    @apply grid place-content-center rounded-full h-10 w-10 border border-gray 
    dark:border-gray/60 dark:hover:border-d-white
  }

  .primary-button-rounded {
    @apply flex items-center space-x-2 px-[1.2rem] py-2 font-medium rounded-[1.6rem] shadow-sm text-body 
    bg-primary hover:bg-primary-dark
  }

  .applicant-card-list {
    @apply p-4 bg-body-accent-secondary dark:bg-d-body-accent rounded-xl space-y-2
  }

  .applicant-card {
    @apply p-4 bg-body dark:bg-d-body-accent-secondary space-y-4 rounded-lg
  }

  .tag {
    @apply border border-gray/40 border-gray/20 rounded-3xl px-2 py-px text-xs text-gray dark:text-d-white-accent
  }

  .side-icons{
    @apply h-[2rem] w-[2rem] text-gray dark:text-gray/60 dark:hover:text-d-white
  }

  .label {
    @apply block text-sm font-medium text-slate-700
  }

  .input-type {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 invalid:text-pink-600
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
  }
}